<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">
      <a href="mailto:nicole.chellino@gmail.com">
        <span class="fa fa-paper-plane-o email-link"></span>
      </a>
      <a class="home-link" href="/">NICOLE M. CHELLINO</a>
      <a href="/resume">
        <span class="fa fa-sticky-note-o resume-link"></span>
      </a>
    </h2>

    <div class="social-links">
      <a href="https://www.facebook.com/chaleanoh" target="_blank">
        <span class="fa fa-facebook"></span>
      </a>
      <a href="https://www.instagram.com/chaleanoh/" target="_blank">
        <span class="fa fa-instagram"></span>
      </a>
      <a href="https://www.linkedin.com/in/nicole-m-chellino-435a4993" target="_blank">
        <span class="fa fa-linkedin"></span>
      </a>
      <a href="https://twitter.com/chaleanoh" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>
      <a href="https://www.pinterest.com/chaleanoh/" target="_blank">
        <span class="fa fa-pinterest-p"></span>
      </a>
    </div>

  </div>

</footer>
